-define(SERVERHOST, "localhost").
-define(SERVERPORT, 5222).
-define(CLIENTNAME, "client").
-define(CLIENTNAME2, "client2").
-define(CLIENTJID, ?CLIENTNAME "@" ?SERVERHOST).
-define(CLIENTJID2, ?CLIENTNAME2 "@" ?SERVERHOST).
-define(PASSWORD, "password").
-define(SERVER_TIMEOUT, 5000).
-define(TEST_TIMEOUT, 60). % Note: here units are seconds, not milliseconds!!!

-define(DEBUG_FMT(Format, Values), false).
%-define(DEBUG_FMT(Format, Values), ?debugFmt(Format, Values)).
